#div1{ 
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    z-index:-1; 
} 

#div1 > img { 
	position: absolute;
	top: 0;
	left: 0;
    height:100%; 
    width:100%; 
    border:0; 
}  

.input{
	margin: 0 auto;
	max-width: 600px;
	margin-top:10%;
}
.play{
	margin: 0 auto;
	width: 400px;
	margin-top: 50px;
}
/**
 * @Author :ZhengFeiFan
 **/